<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
Natus nesciunt recusandae, vel omnis doloribus ex nihil illo nisi maxime quidem consequatur fugit, 
porro odio error quis temporibus mollitia iste nam.</p>
<%- include("footer") -%>